{"openapi":"3.1.0","info":{"title":"Eliza Cloud API","version":"1.0.0","description":"AI agent infrastructure API. Supports REST, MCP, and A2A protocols with API key authentication.","contact":{"name":"Eliza Cloud","url":"https://elizacloud.ai"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"servers":[{"url":"https://www.elizacloud.ai","description":"Production server"}],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"paths":{"/api/v1/admin/moderation":{"get":{"operationId":"get_api_v1_admin_moderation","summary":"GET /api/v1/admin/moderation","tags":["admin"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"head":{"operationId":"head_api_v1_admin_moderation","summary":"HEAD /api/v1/admin/moderation","tags":["admin"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_admin_moderation","summary":"POST /api/v1/admin/moderation","tags":["admin"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/advertising/accounts":{"get":{"operationId":"get_api_v1_advertising_accounts","summary":"GET /api/v1/advertising/accounts","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_advertising_accounts","summary":"POST /api/v1/advertising/accounts","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/advertising/accounts/{id}":{"delete":{"operationId":"delete_api_v1_advertising_accounts_id","summary":"DELETE /api/v1/advertising/accounts/{id}","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_advertising_accounts_id","summary":"GET /api/v1/advertising/accounts/{id}","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/advertising/campaigns":{"get":{"operationId":"get_api_v1_advertising_campaigns","summary":"GET /api/v1/advertising/campaigns","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_advertising_campaigns","summary":"POST /api/v1/advertising/campaigns","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/advertising/campaigns/{id}":{"delete":{"operationId":"delete_api_v1_advertising_campaigns_id","summary":"DELETE /api/v1/advertising/campaigns/{id}","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_advertising_campaigns_id","summary":"GET /api/v1/advertising/campaigns/{id}","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"patch":{"operationId":"patch_api_v1_advertising_campaigns_id","summary":"PATCH /api/v1/advertising/campaigns/{id}","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/advertising/campaigns/{id}/analytics":{"get":{"operationId":"get_api_v1_advertising_campaigns_id_analytics","summary":"GET /api/v1/advertising/campaigns/{id}/analytics","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/advertising/campaigns/{id}/creatives":{"get":{"operationId":"get_api_v1_advertising_campaigns_id_creatives","summary":"GET /api/v1/advertising/campaigns/{id}/creatives","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_advertising_campaigns_id_creatives","summary":"POST /api/v1/advertising/campaigns/{id}/creatives","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/advertising/campaigns/{id}/pause":{"post":{"operationId":"post_api_v1_advertising_campaigns_id_pause","summary":"POST /api/v1/advertising/campaigns/{id}/pause","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/advertising/campaigns/{id}/start":{"post":{"operationId":"post_api_v1_advertising_campaigns_id_start","summary":"POST /api/v1/advertising/campaigns/{id}/start","tags":["advertising"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/agents/{agentId}/monetization":{"get":{"operationId":"get_api_v1_agents_agentId_monetization","summary":"GET /api/v1/agents/{agentId}/monetization","tags":["agents"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"put":{"operationId":"put_api_v1_agents_agentId_monetization","summary":"PUT /api/v1/agents/{agentId}/monetization","tags":["agents"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/agents/{agentId}/publish":{"delete":{"operationId":"delete_api_v1_agents_agentId_publish","summary":"DELETE /api/v1/agents/{agentId}/publish","tags":["agents"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_agents_agentId_publish","summary":"POST /api/v1/agents/{agentId}/publish","tags":["agents"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/api-keys":{"get":{"operationId":"get_api_v1_api_keys","summary":"List API Keys","description":"List all API keys for your organization (session auth only - won't work with API key)","tags":["API Keys"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_api_keys","summary":"List API Keys","description":"List all API keys for your organization (session auth only - won't work with API key)","tags":["API Keys"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/api-keys/{id}":{"delete":{"operationId":"delete_api_v1_api_keys_id","summary":"Delete API Key","description":"Delete an API key (session auth only - won't work with API key)","tags":["API Keys"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"patch":{"operationId":"patch_api_v1_api_keys_id","summary":"Delete API Key","description":"Delete an API key (session auth only - won't work with API key)","tags":["API Keys"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/api-keys/{id}/regenerate":{"post":{"operationId":"post_api_v1_api_keys_id_regenerate","summary":"Regenerate API Key","description":"Regenerate API key secret (old key becomes invalid) (session auth only - won't work with API key)","tags":["API Keys"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/api-keys/explorer":{"get":{"operationId":"get_api_v1_api_keys_explorer","summary":"GET /api/v1/api-keys/explorer","tags":["api-keys"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-auth/connect":{"options":{"operationId":"options_api_v1_app_auth_connect","summary":"OPTIONS /api/v1/app-auth/connect","tags":["app-auth"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_app_auth_connect","summary":"POST /api/v1/app-auth/connect","tags":["app-auth"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-auth/session":{"get":{"operationId":"get_api_v1_app_auth_session","summary":"GET /api/v1/app-auth/session","tags":["app-auth"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_app_auth_session","summary":"OPTIONS /api/v1/app-auth/session","tags":["app-auth"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder":{},"/api/v1/app-builder/images":{"post":{"operationId":"post_api_v1_app_builder_images","summary":"POST /api/v1/app-builder/images","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}":{"delete":{"operationId":"delete_api_v1_app_builder_sessions_sessionId","summary":"DELETE /api/v1/app-builder/sessions/{sessionId}","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_app_builder_sessions_sessionId","summary":"GET /api/v1/app-builder/sessions/{sessionId}","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"patch":{"operationId":"patch_api_v1_app_builder_sessions_sessionId","summary":"PATCH /api/v1/app-builder/sessions/{sessionId}","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/commit":{"get":{"operationId":"get_api_v1_app_builder_sessions_sessionId_commit","summary":"GET /api/v1/app-builder/sessions/{sessionId}/commit","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_app_builder_sessions_sessionId_commit","summary":"POST /api/v1/app-builder/sessions/{sessionId}/commit","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/files":{"get":{"operationId":"get_api_v1_app_builder_sessions_sessionId_files","summary":"GET /api/v1/app-builder/sessions/{sessionId}/files","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_app_builder_sessions_sessionId_files","summary":"POST /api/v1/app-builder/sessions/{sessionId}/files","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/history":{"get":{"operationId":"get_api_v1_app_builder_sessions_sessionId_history","summary":"GET /api/v1/app-builder/sessions/{sessionId}/history","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/logs":{"get":{"operationId":"get_api_v1_app_builder_sessions_sessionId_logs","summary":"GET /api/v1/app-builder/sessions/{sessionId}/logs","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/prompts/stream":{"get":{"operationId":"get_api_v1_app_builder_sessions_sessionId_prompts_stream","summary":"GET /api/v1/app-builder/sessions/{sessionId}/prompts/stream","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_app_builder_sessions_sessionId_prompts_stream","summary":"POST /api/v1/app-builder/sessions/{sessionId}/prompts/stream","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/resume/stream":{"post":{"operationId":"post_api_v1_app_builder_sessions_sessionId_resume_stream","summary":"POST /api/v1/app-builder/sessions/{sessionId}/resume/stream","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/rollback":{"post":{"operationId":"post_api_v1_app_builder_sessions_sessionId_rollback","summary":"POST /api/v1/app-builder/sessions/{sessionId}/rollback","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/snapshots":{"get":{"operationId":"get_api_v1_app_builder_sessions_sessionId_snapshots","summary":"GET /api/v1/app-builder/sessions/{sessionId}/snapshots","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/sessions/{sessionId}/terminal":{"get":{"operationId":"get_api_v1_app_builder_sessions_sessionId_terminal","summary":"GET /api/v1/app-builder/sessions/{sessionId}/terminal","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_app_builder_sessions_sessionId_terminal","summary":"POST /api/v1/app-builder/sessions/{sessionId}/terminal","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-builder/stream":{"post":{"operationId":"post_api_v1_app_builder_stream","summary":"POST /api/v1/app-builder/stream","tags":["app-builder"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-credits/balance":{"get":{"operationId":"get_api_v1_app_credits_balance","summary":"GET /api/v1/app-credits/balance","tags":["app-credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_app_credits_balance","summary":"OPTIONS /api/v1/app-credits/balance","tags":["app-credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-credits/checkout":{"options":{"operationId":"options_api_v1_app_credits_checkout","summary":"OPTIONS /api/v1/app-credits/checkout","tags":["app-credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_app_credits_checkout","summary":"POST /api/v1/app-credits/checkout","tags":["app-credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app-credits/verify":{"get":{"operationId":"get_api_v1_app_credits_verify","summary":"GET /api/v1/app-credits/verify","tags":["app-credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_app_credits_verify","summary":"OPTIONS /api/v1/app-credits/verify","tags":["app-credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/app/agents":{},"/api/v1/apps":{"get":{"operationId":"get_api_v1_apps","summary":"GET /api/v1/apps","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_apps","summary":"POST /api/v1/apps","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}":{"delete":{"operationId":"delete_api_v1_apps_id","summary":"DELETE /api/v1/apps/{id}","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_apps_id","summary":"GET /api/v1/apps/{id}","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"patch":{"operationId":"patch_api_v1_apps_id","summary":"PATCH /api/v1/apps/{id}","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"put":{"operationId":"put_api_v1_apps_id","summary":"PUT /api/v1/apps/{id}","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/analytics":{"get":{"operationId":"get_api_v1_apps_id_analytics","summary":"GET /api/v1/apps/{id}/analytics","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/analytics/requests":{},"/api/v1/apps/{id}/characters":{"get":{"operationId":"get_api_v1_apps_id_characters","summary":"GET /api/v1/apps/{id}/characters","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"put":{"operationId":"put_api_v1_apps_id_characters","summary":"PUT /api/v1/apps/{id}/characters","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/chat":{"options":{"operationId":"options_api_v1_apps_id_chat","summary":"OPTIONS /api/v1/apps/{id}/chat","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/deploy":{"get":{"operationId":"get_api_v1_apps_id_deploy","summary":"GET /api/v1/apps/{id}/deploy","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_apps_id_deploy","summary":"POST /api/v1/apps/{id}/deploy","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/discord-automation":{"delete":{"operationId":"delete_api_v1_apps_id_discord_automation","summary":"DELETE /api/v1/apps/{id}/discord-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_apps_id_discord_automation","summary":"GET /api/v1/apps/{id}/discord-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_apps_id_discord_automation","summary":"POST /api/v1/apps/{id}/discord-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/discord-automation/post":{"post":{"operationId":"post_api_v1_apps_id_discord_automation_post","summary":"POST /api/v1/apps/{id}/discord-automation/post","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/domains":{"delete":{"operationId":"delete_api_v1_apps_id_domains","summary":"DELETE /api/v1/apps/{id}/domains","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_apps_id_domains","summary":"GET /api/v1/apps/{id}/domains","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_apps_id_domains","summary":"POST /api/v1/apps/{id}/domains","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/domains/status":{"post":{"operationId":"post_api_v1_apps_id_domains_status","summary":"POST /api/v1/apps/{id}/domains/status","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/domains/sync":{"post":{"operationId":"post_api_v1_apps_id_domains_sync","summary":"POST /api/v1/apps/{id}/domains/sync","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/domains/verify":{"post":{"operationId":"post_api_v1_apps_id_domains_verify","summary":"POST /api/v1/apps/{id}/domains/verify","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/earnings":{"get":{"operationId":"get_api_v1_apps_id_earnings","summary":"GET /api/v1/apps/{id}/earnings","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/earnings/history":{"get":{"operationId":"get_api_v1_apps_id_earnings_history","summary":"GET /api/v1/apps/{id}/earnings/history","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/earnings/withdraw":{},"/api/v1/apps/{id}/monetization":{"get":{"operationId":"get_api_v1_apps_id_monetization","summary":"GET /api/v1/apps/{id}/monetization","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"put":{"operationId":"put_api_v1_apps_id_monetization","summary":"PUT /api/v1/apps/{id}/monetization","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/promote":{"get":{"operationId":"get_api_v1_apps_id_promote","summary":"GET /api/v1/apps/{id}/promote","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_apps_id_promote","summary":"POST /api/v1/apps/{id}/promote","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/promote/analytics":{"get":{"operationId":"get_api_v1_apps_id_promote_analytics","summary":"GET /api/v1/apps/{id}/promote/analytics","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/promote/assets":{"get":{"operationId":"get_api_v1_apps_id_promote_assets","summary":"GET /api/v1/apps/{id}/promote/assets","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_apps_id_promote_assets","summary":"POST /api/v1/apps/{id}/promote/assets","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/promote/preview":{"post":{"operationId":"post_api_v1_apps_id_promote_preview","summary":"POST /api/v1/apps/{id}/promote/preview","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/public":{"get":{"operationId":"get_api_v1_apps_id_public","summary":"GET /api/v1/apps/{id}/public","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_apps_id_public","summary":"OPTIONS /api/v1/apps/{id}/public","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/regenerate-api-key":{"post":{"operationId":"post_api_v1_apps_id_regenerate_api_key","summary":"POST /api/v1/apps/{id}/regenerate-api-key","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/telegram-automation":{"delete":{"operationId":"delete_api_v1_apps_id_telegram_automation","summary":"DELETE /api/v1/apps/{id}/telegram-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_apps_id_telegram_automation","summary":"GET /api/v1/apps/{id}/telegram-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_apps_id_telegram_automation","summary":"POST /api/v1/apps/{id}/telegram-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/telegram-automation/post":{"post":{"operationId":"post_api_v1_apps_id_telegram_automation_post","summary":"POST /api/v1/apps/{id}/telegram-automation/post","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/twitter-automation":{"delete":{"operationId":"delete_api_v1_apps_id_twitter_automation","summary":"DELETE /api/v1/apps/{id}/twitter-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_apps_id_twitter_automation","summary":"GET /api/v1/apps/{id}/twitter-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_apps_id_twitter_automation","summary":"POST /api/v1/apps/{id}/twitter-automation","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/twitter-automation/post":{"post":{"operationId":"post_api_v1_apps_id_twitter_automation_post","summary":"POST /api/v1/apps/{id}/twitter-automation/post","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/{id}/users":{"get":{"operationId":"get_api_v1_apps_id_users","summary":"GET /api/v1/apps/{id}/users","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/apps/check-name":{"post":{"operationId":"post_api_v1_apps_check_name","summary":"POST /api/v1/apps/check-name","tags":["apps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/character-assistant":{"post":{"operationId":"post_api_v1_character_assistant","summary":"Character Assistant","description":"AI assistant for creating character definitions (session auth only)","tags":["AI Completions"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/chat":{},"/api/v1/chat/completions":{"options":{"operationId":"options_api_v1_chat_completions","summary":"OPTIONS /api/v1/chat/completions","tags":["chat"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/containers":{"get":{"operationId":"get_api_v1_containers","summary":"GET /api/v1/containers","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/containers/{id}":{"delete":{"operationId":"delete_api_v1_containers_id","summary":"DELETE /api/v1/containers/{id}","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_containers_id","summary":"GET /api/v1/containers/{id}","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"patch":{"operationId":"patch_api_v1_containers_id","summary":"PATCH /api/v1/containers/{id}","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/containers/{id}/deployments":{"get":{"operationId":"get_api_v1_containers_id_deployments","summary":"GET /api/v1/containers/{id}/deployments","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/containers/{id}/health":{"get":{"operationId":"get_api_v1_containers_id_health","summary":"GET /api/v1/containers/{id}/health","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/containers/{id}/logs":{"get":{"operationId":"get_api_v1_containers_id_logs","summary":"GET /api/v1/containers/{id}/logs","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/containers/{id}/logs/stream":{"get":{"operationId":"get_api_v1_containers_id_logs_stream","summary":"GET /api/v1/containers/{id}/logs/stream","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/containers/{id}/metrics":{"get":{"operationId":"get_api_v1_containers_id_metrics","summary":"GET /api/v1/containers/{id}/metrics","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/containers/credentials":{},"/api/v1/containers/quota":{"get":{"operationId":"get_api_v1_containers_quota","summary":"GET /api/v1/containers/quota","tags":["containers"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/credits/balance":{"get":{"operationId":"get_api_v1_credits_balance","summary":"GET /api/v1/credits/balance","tags":["credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_credits_balance","summary":"OPTIONS /api/v1/credits/balance","tags":["credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/credits/checkout":{"options":{"operationId":"options_api_v1_credits_checkout","summary":"OPTIONS /api/v1/credits/checkout","tags":["credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_credits_checkout","summary":"POST /api/v1/credits/checkout","tags":["credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/credits/summary":{"options":{"operationId":"options_api_v1_credits_summary","summary":"OPTIONS /api/v1/credits/summary","tags":["credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/credits/verify":{"get":{"operationId":"get_api_v1_credits_verify","summary":"GET /api/v1/credits/verify","tags":["credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_credits_verify","summary":"OPTIONS /api/v1/credits/verify","tags":["credits"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/cron/deployment-monitor":{"get":{"operationId":"get_api_v1_cron_deployment_monitor","summary":"GET /api/v1/cron/deployment-monitor","tags":["cron"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_cron_deployment_monitor","summary":"POST /api/v1/cron/deployment-monitor","tags":["cron"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/cron/health-check":{"get":{"operationId":"get_api_v1_cron_health_check","summary":"GET /api/v1/cron/health-check","tags":["cron"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_cron_health_check","summary":"POST /api/v1/cron/health-check","tags":["cron"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/dashboard":{"get":{"operationId":"get_api_v1_dashboard","summary":"GET /api/v1/dashboard","tags":["dashboard"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/discord/callback":{"get":{"operationId":"get_api_v1_discord_callback","summary":"GET /api/v1/discord/callback","tags":["discord"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/discord/channels":{"get":{"operationId":"get_api_v1_discord_channels","summary":"GET /api/v1/discord/channels","tags":["discord"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/discord/channels/refresh":{"post":{"operationId":"post_api_v1_discord_channels_refresh","summary":"POST /api/v1/discord/channels/refresh","tags":["discord"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/discord/disconnect":{"post":{"operationId":"post_api_v1_discord_disconnect","summary":"POST /api/v1/discord/disconnect","tags":["discord"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/discord/guilds":{"get":{"operationId":"get_api_v1_discord_guilds","summary":"GET /api/v1/discord/guilds","tags":["discord"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/discord/oauth":{"get":{"operationId":"get_api_v1_discord_oauth","summary":"GET /api/v1/discord/oauth","tags":["discord"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/discord/status":{"get":{"operationId":"get_api_v1_discord_status","summary":"GET /api/v1/discord/status","tags":["discord"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/discovery":{"get":{"operationId":"get_api_v1_discovery","summary":"GET /api/v1/discovery","tags":["discovery"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/embeddings":{},"/api/v1/gallery":{"get":{"operationId":"get_api_v1_gallery","summary":"List Generations","description":"List all media generations (images and videos) (supports API key auth)","tags":["Gallery"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/generate-image":{"options":{"operationId":"options_api_v1_generate_image","summary":"OPTIONS /api/v1/generate-image","tags":["generate-image"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/generate-prompts":{"post":{"operationId":"post_api_v1_generate_prompts","summary":"Generate Prompts","description":"Generate creative prompts for image/video generation (session auth only)","tags":["AI Completions"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/generate-video":{},"/api/v1/knowledge":{},"/api/v1/knowledge/{id}":{},"/api/v1/knowledge/check":{},"/api/v1/knowledge/pre-upload":{},"/api/v1/knowledge/query":{},"/api/v1/knowledge/submit":{},"/api/v1/knowledge/upload-file":{},"/api/v1/mcps":{"get":{"operationId":"get_api_v1_mcps","summary":"GET /api/v1/mcps","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_mcps","summary":"OPTIONS /api/v1/mcps","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_mcps","summary":"POST /api/v1/mcps","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/mcps/{mcpId}":{"delete":{"operationId":"delete_api_v1_mcps_mcpId","summary":"DELETE /api/v1/mcps/{mcpId}","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"get":{"operationId":"get_api_v1_mcps_mcpId","summary":"GET /api/v1/mcps/{mcpId}","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_mcps_mcpId","summary":"OPTIONS /api/v1/mcps/{mcpId}","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"put":{"operationId":"put_api_v1_mcps_mcpId","summary":"PUT /api/v1/mcps/{mcpId}","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/mcps/{mcpId}/publish":{"delete":{"operationId":"delete_api_v1_mcps_mcpId_publish","summary":"DELETE /api/v1/mcps/{mcpId}/publish","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"options":{"operationId":"options_api_v1_mcps_mcpId_publish","summary":"OPTIONS /api/v1/mcps/{mcpId}/publish","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_mcps_mcpId_publish","summary":"POST /api/v1/mcps/{mcpId}/publish","tags":["mcps"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/models":{"get":{"operationId":"get_api_v1_models","summary":"List Models","description":"List all available AI models (supports API key auth)","tags":["Models"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/models/{model}":{"get":{"operationId":"get_api_v1_models_model","summary":"GET /api/v1/models/{model}","tags":["models"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/models/status":{"post":{"operationId":"post_api_v1_models_status","summary":"POST /api/v1/models/status","tags":["models"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/redemptions":{"options":{"operationId":"options_api_v1_redemptions","summary":"OPTIONS /api/v1/redemptions","tags":["redemptions"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/redemptions/{id}":{"options":{"operationId":"options_api_v1_redemptions_id","summary":"OPTIONS /api/v1/redemptions/{id}","tags":["redemptions"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/redemptions/balance":{"options":{"operationId":"options_api_v1_redemptions_balance","summary":"OPTIONS /api/v1/redemptions/balance","tags":["redemptions"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/redemptions/quote":{"options":{"operationId":"options_api_v1_redemptions_quote","summary":"OPTIONS /api/v1/redemptions/quote","tags":["redemptions"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/redemptions/status":{"options":{"operationId":"options_api_v1_redemptions_status","summary":"OPTIONS /api/v1/redemptions/status","tags":["redemptions"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/responses":{},"/api/v1/telegram/chats":{"get":{"operationId":"get_api_v1_telegram_chats","summary":"GET /api/v1/telegram/chats","tags":["telegram"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/telegram/connect":{"post":{"operationId":"post_api_v1_telegram_connect","summary":"POST /api/v1/telegram/connect","tags":["telegram"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/telegram/disconnect":{"delete":{"operationId":"delete_api_v1_telegram_disconnect","summary":"DELETE /api/v1/telegram/disconnect","tags":["telegram"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/telegram/scan-chats":{"get":{"operationId":"get_api_v1_telegram_scan_chats","summary":"GET /api/v1/telegram/scan-chats","tags":["telegram"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_telegram_scan_chats","summary":"POST /api/v1/telegram/scan-chats","tags":["telegram"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/telegram/status":{"get":{"operationId":"get_api_v1_telegram_status","summary":"GET /api/v1/telegram/status","tags":["telegram"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/telegram/webhook/{orgId}":{"post":{"operationId":"post_api_v1_telegram_webhook_orgId","summary":"POST /api/v1/telegram/webhook/{orgId}","tags":["telegram"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/track/pageview":{"options":{"operationId":"options_api_v1_track_pageview","summary":"OPTIONS /api/v1/track/pageview","tags":["track"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}},"post":{"operationId":"post_api_v1_track_pageview","summary":"POST /api/v1/track/pageview","tags":["track"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/twitter/callback":{"get":{"operationId":"get_api_v1_twitter_callback","summary":"GET /api/v1/twitter/callback","tags":["twitter"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/twitter/connect":{"post":{"operationId":"post_api_v1_twitter_connect","summary":"POST /api/v1/twitter/connect","tags":["twitter"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/twitter/disconnect":{"delete":{"operationId":"delete_api_v1_twitter_disconnect","summary":"DELETE /api/v1/twitter/disconnect","tags":["twitter"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/twitter/status":{"get":{"operationId":"get_api_v1_twitter_status","summary":"GET /api/v1/twitter/status","tags":["twitter"],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"},"429":{"description":"Rate limited"},"500":{"description":"Server error"}}}},"/api/v1/user":{}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Privy session token"},"apiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"API Key for programmatic access"}}},"tags":[],"externalDocs":{"description":"Eliza Cloud Documentation","url":"https://elizacloud.ai/docs"}}